{% extends 'core/base.html' %}
{% load humanize %}
{% load core_tags %}

{% block body %}

    <div class="container mt-md-3 mt-lg-5">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="row justify-content-between">
                            <div class="col-auto">
                                <h5 class="card-title">URLs</h5>
                            </div>

                            <div class="col-auto">
                                <a class="btn btn-primary" href="{% url 'core:url_create' %}">Add more</a>
                            </div>
                        </div>

                        <table class="table">
                            <tbody>
                                {% for url_mapping in url_mappings %}
                                    <tr>
                                        <td>
                                            <span id="url-mapping-short-url-{{ url_mapping.pk }}">
                                                {% fullurl url_mapping.short_url %}
                                            </span>

                                            <a role="button" class="copy-to-clipboard px-2"
                                               data-source="#url-mapping-short-url-{{ url_mapping.pk }}">
                                                <i class="bi bi-clipboard"></i>
                                            </a>
                                        </td>
                                        <td>{{ url_mapping.url }}</td>
                                        <td>{{ url_mapping.created|naturaltime }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}